p
  | Oops! A error has occurred.
  | a(href="/") home 


- if (settings.env == "development")
  pre
    b Server
    | &nbsp;
    |   status: #{status}
    |   error: #{error}
    |   message: #{message}
    |   stack: #{stackstring}
