doctype html
html
  head
    title gulp-express-jade-handlebars
    
    link(rel="stylesheet", href="libs/css/libs.css")
    link(rel="stylesheet", href="css/custom.css") 
  body
    include ./includes/navbar.jade
    main
      div.container(style="margin-top:60px")
        div#content
          include ./partials/home.jade        
    script(src="libs/js/libs.js")
    script(src="js/custom.js")