h1 Welcome to a partial page!

div#boxes
  // {{#each .}}
  span.file.label.label-primary {{this}}
  // {{/each}} 

script.
  var container = $('#boxes');
  var template = Handlebars.compile(container.html());
  var data = ['one','two','three','four','and five'];
  container.html(template(data));